emails==0.6
fastapi==0.111.0
Jinja2==3.1.4
passlib==1.7.4
pip==24.1.2
psycopg>=0.1.0
pydantic==2.8.2
pydantic_core==2.20.1
pydantic_settings==2.3.4
PyJWT==2.8.0
pytest==8.2.2
python-dotenv==1.0.1
sentry_sdk==2.8.0
SQLAlchemy==2.0.31
sqlmodel==0.0.19
starlette==0.37.2
tenacity==8.5.0
typing_extensions==4.12.2
